# Python Basics (2)

## 함수(Function)

In [ ]:
def sum(a,b):
    return a+b

a = 3
b = 4

c = sum(a,b)
print(c)

In [ ]:
def sum_and_mul(a,b):
    return a+b, a*b

c, d = sum_and_mul(4,5) 

print(c, d)

In [ ]:
# lambda를 사용한 간단한 함수

add = lambda a, b : a + b
add(2,3

## 리스트(List) 자료형

In [ ]:
a = [1, 2, 3, 4, 5, 6]
print(a)
print(type(a))

print(a[0])
print(a[3])
print(a[-1])

In [ ]:
a = ["Lim", "Park", "Shin", "Kim", "Lee"]
print(a)
print(type(a))

print(a[0])
print(a[3])
print(a[-1])

In [ ]:
a = [1, 2, 3, 4, 5, 6]
print(len(a))

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c']]

for i in a:
  print(i)

print(a[-1])
print(a[-1][0])

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c']]

print(a[-1])
print(a[-1][0])

In [ ]:
a = [1, 2, 3, 4, 5]

print(a[1:3])

print(str(a[3])+'hi')

a[2] = 100
print(a)

In [ ]:
a = [1, 2, 3, 4, 5]
print(a)

a[1:2] = ['a', 'b', 'c']
print(a)

#a = [1, 2, 3, 4, 5]
#
#a[1] = ['a', 'b', 'c']
#print(a)

In [ ]:
a = [1, 2, 3, 4, 5]

del a[1]
print(a)

그 이외의 리스트 자료형 관련 함수들
- append
- sort
- reverse
- index
- insert
- remove
- pop
- count
- extend

In [ ]:
a = [5, 3, 2, 4, 1]
print(a)

a.sort()
print(a)

a.sort(reverse=True)
print(a)

a = ["Lim", "Park", "Shin", "Kim", "Lee"]
a.sort()
print(a)

## 튜플(Tuple) 자료형

In [ ]:
a = (0, 1, 2, 3, 4, 5)
print(a)
print(a[0:3])

#a[3] = 10        # 오류출력, 튜플은 수정, 삭제 불가능
# del a[3]        # 오류출력, 튜플은 수정, 삭제 불가능

## 집합(Set) 자료형

In [ ]:
s0 = {1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 4, 4, 5}
print(s0)

s1 = set([1,2,3])
print(s1)

s2 = set('Hello')
print(s2)

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(s1&s2)
print(s1.intersection(s2))

print(s1|s2)
print(s1.union(s2))

print(s1-s2)
print(s1.difference(s2))

기타 집합 관련 함수 
- add
- update
- remove

## 사전(Dictionary) 자료형

In [ ]:
# Key : Value  형태로 데이터를 저장

dic = {1:'KIM', 2:'PARK', 3:'LEE'}
print(dic)

dic[4] = 'CHOI'
print(dic)

dic[1] = 'LIM'
print(dic)

dic['noname'] = 'nonono'
print(dic)

print(dic[1])
print(dic['noname'])

del dic[1]
print(dic)

# print(dic['nokey'])    # 오류출력

In [ ]:
dic = {1:'KIM', 2:'PARK', 3:'LEE'}

# keys()는 dic_keys라는 객체를 return

a = dic.keys()
print(a, type(a))

for k in dic.keys():
    print(k)

# dic_keys 객체를 다시 list로 변환해서 사용

a = list(dic.keys())
print(a, type(a))

for k in a:
    print(k)

In [ ]:
dic = {1:'KIM', 2:'PARK', 3:'LEE'}
print(dic)

# 값(Value)
a = dic.values()
print(a, type(a))

a = list(dic.values())
print(a, type(a))

# 키(Key)와 값(Value) 쌍
a = dic.items()
print(a, type(a))

a = list(dic.items())
print(a, type(a))

In [ ]:
dic = {1:'KIM', 2:'PARK', 3:'LEE'}

dic.clear()

print(dic)

In [ ]:
dic = {1:'KIM', 2:'PARK', 3:'LEE'}

print(dic.get(1))
print(dic.get('nokey'))
print(dic.get('nokey', 'default return if no key'))

print(1 in dic)
print(4 in dic)

# Pandas 활용
- 파이썬 데이터 분석 라이브러리
- 데이터 처리(구조화, 병합/조인, 추출 등)에 최적화
- R의 data.frame과 유사한 구조

## 데이터 읽어오기

In [ ]:
# CSV 파일에서 읽어오기

import pandas

df1 = pandas.read_csv("https://raw.githubusercontent.com/YONESI-DBIS/DS_Lecture/main/UB_Data.csv")
print(df1)
print("=" * 20)
df1.head()

In [ ]:
# Excel 파일에서 읽어오기

import pandas

df2 = pandas.read_excel("https://raw.githubusercontent.com/YONESI-DBIS/DS_Lecture/main/UB_Data.xlsx")
print(df2)
print("=" * 20)
df2.head()

## 데이터 추출

In [ ]:
print(type(df1))
print(type(df2))

In [ ]:
# 열 이름으로 추출

age_df = df1['Age']
print(age_df)
print(type(age_df))

print("=" * 20)

df3 = df1[['Age','ZIPCode']]
print(df3)
print(type(df3))

In [ ]:
# 행 추출

# 인덱스: 위의 print 결과에서 왼쪽에 보이는 번호. 숫자, 문자열 모두 가능. 변하지 않음. 추출을 위해서 loc 사용
# 행번호: 데이터의 순서에 따라 자동으로 붙는 번호. 정수만 가능. 추출을 위해서 iloc 사용


######
# 인덱스로 추출
print(df1.loc[0])
#print(df1.loc[[0,99, 199, 299]])
#print(df1.loc[9:19])

# print(print(df1.loc[-1]))    # 에러: -1이라는 인덱스를 가진 행이 없음

print("=" * 20)

######
# 행번호로 추출
print(df1.iloc[0])
#print(df1.iloc[[0,99, 199, 299]])

#print(print(df1.iloc[-1]))




# 인덱스와 행번호의 차이

#df3 = df1.drop(index=0)        # 인덱스가 0인 데이터 삭제
#df3 = df1.drop(df1.index[0])   # 첫번째 데이터 삭제
#print(df1)
print(df3)

#print(df3.loc[0])        # 오류: 인덱스가 0인 데이터는 삭제되었음
#print(df3.iloc[0])       # OK: 첫번째 데이터가 존재함

In [ ]:
# Let's Together

result1_df = df1.loc[0:10, ["ID", "Age", "ZIPCode", "Family"]]
print(result1_df)

#is_over40 = df1['Age'] > 40
#result2_df = df1[is_over40]
#print(result2_df)

#result3_df = df1.loc[is_over40, ["ID", "Age", "ZIPCode", "Family"]]
#print(result3_df)

#is_more2Family = df1['Family'] > 2
#result4_df = df1.loc[is_over40 & is_more2Family, ["ID", "Age", "ZIPCode", "Family"]]
#print(result4_df)

## 데이터 합치기

In [ ]:
df3 = pandas.concat([df1, df2])
print(df3)

df3 = pandas.concat([df1, df2], ignore_index=True)
print(df3)

## 파일로 저장

In [ ]:
from google.colab import files

df3.to_csv('new_file.csv')

files.download('new_file.csv')

## 기본적인 데이터 분석

In [ ]:
# 통계 요약

df1.describe()

In [ ]:
# 평균구하기

a = df1['Age'].mean()
print(a)

a = df1.groupby('Age')['Income'].mean()
print(a)

a = df1.groupby('Age')[['Income','Education']].mean()
print(a)

a = df1.groupby(['Age','Family'])[['Income','Education']].mean()
print(a)

In [ ]:
# 카운팅

print("=== COUNT")
a = df1.groupby('Age')['Income'].count()
print(a)

# 합계

print("=== SUM")
a = df1.groupby('Age')['Income'].sum()
print(a)

# 표준편차

print("=== STD")
a = df1.groupby('Age')['Income'].std()
print(a)

# 최소/최대 값

print("=== MIN")
a = df1.groupby('Age')['Income'].min()
print(a)

print("=== MAX")
a = df1.groupby('Age')['Income'].max()
print(a)

# 상관관계
print("=== CORRELATION")
print(df1.corr()['Age'])

In [ ]:
# Let's Party!!

print(df1['Age'].mean())

result4_df = df1.loc[df1['Age'] >= df1['Age'].mean(), ["ID", "Age", "ZIPCode", "Family"]]
print(result4_df)

In [ ]:
df1['Age'].hist();

df1.plot.scatter('Age', 'Income')