## 데이터 읽기 / 정렬하기

In [ ]:
# CSV 파일에서 읽어오기

import pandas

df1 = pandas.read_csv("https://raw.githubusercontent.com/YONESI-DBIS/DS_Lecture/main/UB_Data.csv")
print(df1)
print("=" * 20)
df1.head()

In [ ]:
# Data Frame 정렬(sorting)

df1_desc = df1.groupby('Age')['Income'].describe()
print(df1_desc)

#print("=" * 20)
#df1_desc_sorted = df1_desc.sort_values(by = 'mean')
#print(df1_desc_sorted)

## 데이터 시각화(Visualization)

In [ ]:
import matplotlib
import matplotlib.pyplot as plt

df1_desc = df1.groupby('Age')['Income'].describe()
#print(df1_desc)
df1_desc = df1_desc.reset_index()
print(df1_desc)

### 기본 Plot Chart

In [ ]:
x = df1_desc['Age']
y = df1_desc['mean']

plt.plot(x, y)

plt.title('Mean of Incomes by Ages')
plt.xlabel('Ages')
plt.ylabel('Mean of Incomes')
plt.show()

In [ ]:
plt.plot(x, y, color='blue', linestyle='solid', marker='o')

plt.title('Mean of Incomes by Ages')
plt.xlabel('Ages')
plt.ylabel('Mean of Incomes')
plt.show()

In [ ]:
plt.grid(True)
plt.plot(x, y, color='blue', linestyle='solid', marker='o')

plt.title('Mean of Incomes by Ages')
plt.xlabel('Ages')
plt.ylabel('Mean of Incomes')
plt.show()

### 다중 Plot Chart

- matplotlib 패키지 사용 개요

 - 전체 차트가 위치할 기본 틀 만들기
 - 차트를 그려 넣을 격자 만들기
 - 격자에 차트 추가 (왼쪽->오른쪽)
 - 격자의 첫번째 행이 꽉 차면 두번째 행에 차트를 그려넣음

In [ ]:
x = df1_desc['Age']
y1 = df1_desc['mean']
y2 = df1_desc['50%']

#fig = plt.figure(figsize=(15,8))
fig = plt.figure()

chart1 = fig.add_subplot(1, 2, 1)   # 1 x 2 중 첫번째
chart2 = fig.add_subplot(1, 2, 2)   # 1 x 2 중 두번째

chart1.plot(x, y1, color='blue', linestyle='solid', marker='.')
chart2.plot(x, y2, color='red', linestyle='solid', marker='.')

chart1.set_title('mean')
chart2.set_title('median')

fig.suptitle('Mean and median of Incomes by Ages')

#fig.tight_layout()

fig.show()

In [ ]:
x = df1_desc['Age']
y1 = df1_desc['mean']
y2 = df1_desc['50%']

fig = plt.figure()
chart1 = fig.add_subplot(1, 1, 1)

chart1.set_title('Mean and median Incomes by Ages')
chart1.set_ylabel('Mean', color='red')
chart1.plot(x, y1, color='red')
chart1.tick_params(axis='y', labelcolor='red')

chart2 = chart1.twinx()                     # 값은 x축을 공유하는 새로운 축
chart2.set_ylabel('median', color='blue')
chart2.plot(x, y2, color='blue')
chart2.tick_params(axis='y', labelcolor='blue')

fig.tight_layout()

plt.show()

### Bar Chart

In [ ]:
x = df1_desc['Age']
y = df1_desc['mean']


plt.bar(x, y, width = 0.7, color = 'red')

plt.title('Mean of Incomes by Ages')
plt.xlabel('Ages')
plt.ylabel('Mean of Incomes')
plt.show()

In [ ]:
x = df1_desc['Age']
y = df1_desc['count']

plt.bar(x, y, color='blue', alpha=0.7)

plt.xlabel('Ages')
plt.ylabel('Counts')
plt.title('Counts by Ages')
plt.grid(True)

plt.show()

### Histogram Chart

In [ ]:
fig = plt.figure()
chart1 = fig.add_subplot(1,1,1)

chart1.hist(df1['Age'], bins = 10)
chart1.set_title('Histogram of Ages')
chart1.set_xlabel('Ages')
chart1.set_ylabel('Counts')

fig.show()

### Box Plot Chart

In [ ]:
fig = plt.figure()

chart1 = fig.add_subplot(1,1,1)

chart1.boxplot([df1[df1['Age']  == 30]['Income'], df1[df1['Age']  == 40]['Income'],df1[df1['Age']  == 50]['Income'],df1[df1['Age']  == 60]['Income'] ], labels = ['30', '40', '50', '60'])

chart1.set_title('Boxplot of Income by Ages')
chart1.set_xlabel('Ages')
chart1.set_ylabel('Income')

fig.show()

### Pie Chart

In [ ]:
df1_desc_edu = df1.groupby('Education')['Income'].describe()
df1_desc_edu = df1_desc_edu.reset_index()
print(df1_desc_edu)

pi_data = df1_desc_edu['count']
print(pi_data)

pi_label = df1_desc_edu['Education']
print(pi_label)


plt.figure()

plt.pie(pi_data, labels=pi_label, shadow=False)
plt.grid(True)
plt.legend(loc=1)

plt.show()

## More and More : Seaborn 패키지

### Distribution Plot Chart

In [ ]:
import seaborn

chart = seaborn.distplot(df1['Age'])
chart.set_title('Density by Ages')

In [ ]:
chart = seaborn.distplot(df1['Age'], kde = False)
chart.set_title('Counts by Ages')

In [ ]:
chart = seaborn.distplot(df1['Age'], hist = False)
chart.set_title('Density by Ages')

In [ ]:
chart = seaborn.distplot(df1['Age'], rug = True)
chart.set_title('Density by Ages')

### Regression Plot Chart

In [ ]:
data_set = seaborn.load_dataset('tips')
print(data_set)

chart = seaborn.regplot(x='total_bill', y='tip', data = data_set)

### Joint Plot Chart

In [ ]:
chart = seaborn.jointplot(x='total_bill', y='tip', data = data_set)

In [ ]:
chart = seaborn.jointplot(x='total_bill', y='tip', data = data_set, kind='hex')

### More Examples...

In [ ]:
chart = seaborn.kdeplot(data=data_set['total_bill'], data2=data_set['tip'], shade=True)

In [ ]:
chart = seaborn.boxplot(x = 'time', y='total_bill', data=data_set)

In [ ]:
chart = seaborn.boxplot(x = 'Age', y='Income', data=df1)

In [ ]:
chart = seaborn.violinplot(x = 'time', y='total_bill', data=data_set)

In [ ]:
chart = seaborn.pairplot(data_set)

In [ ]:
chart = seaborn.lmplot(x = 'total_bill', y='tip', data=data_set, fit_reg=False, hue='sex')

In [ ]:
chart = seaborn.lmplot(x = 'Income', y='CCAvg', data=df1, fit_reg=False, hue='PersonalLoan')

In [ ]:
chart = plt.axes(projection='3d')
chart.scatter3D(df1['Age'], df1['Income'], df1['CCAvg'])